@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Titillium+Web:wght@400;600;700;900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
a {
  letter-spacing: 1px;
  text-decoration: none;
  font-family: 'Titillium Web', sans-serif;
}
ul {
  padding-left: 0;
  list-style: none;
}
p,
li,
blockquote,
span,
strong {
  font-family: 'Roboto', sans-serif;
}
section {
  width: 100%;
  margin: auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.container {
  max-width: 1280px;
  padding: 0 2rem;
  margin: 0 auto;
}
// Utility Classess
.btn {
  color: white;
  font-weight: 600;
  padding: 1rem 4rem;
  font-size: 1.125rem;
}
.card {
  transition: all 0.3s ease-in-out;
  &:hover {
    box-shadow: 0 5px 5px #00000026;
  }
}
.lead {
  font-weight: 400 !important;
  font-size: 1rem !important;
  letter-spacing: 1px;
}
.mxw-750 {
  max-width: 780px;
  margin-left: auto;
  margin-right: auto;
}
.flex {
  display: flex;
}
// Start Header Section
#header {
  width: 100%;
  z-index: 9999;
  background: #b667d3;

  #nav {
    .nav-item {
      display: flex;
      align-items: center;
    }
    .nav-link {
      text-transform: uppercase;
      padding: 0.2rem 0.6rem;
      transition: 0.2s ease-in-out;
      border-radius: 2px;

      &:not(:last-child) {
        margin-right: 0.5rem;
      }

      &:hover {
        background-color: rebeccapurple;
      }
      &.current {
        background-color: rebeccapurple;
      }
    }
  }
  &.active {
    background: #b667d3;
  }
  &.open #nav {
    background-color: #b667d3;
  }

  @media (max-width: 767px) {
    .container {
      padding: 0 1rem;
    }
  }
}
// Hero
#hero {
  min-height: 100vh;
  background-color: #87509c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .btn {
    background: #eb7d4b;
  }
}
// Services
#services-section {
  background-color: #17c2a4;
  .little-border {
    height: 3px;
    box-shadow: 0 0 5px 0 gray;
    width: 100px;
    margin: auto;
    background: #18b99c;
    margin-bottom: 1rem;
  }
}
// Teams
#team-section {
  background-color: #f2f8fb;
  text-align: center;
  color: rgb(0, 0, 0) !important;
  .little-border {
    height: 3px;
    width: 100px;
    margin: auto;
    background: #99acb9;
    margin-bottom: 1rem;
    box-shadow: 0 0 1px 0 gray;
  }
  .card {
    img {
      width: 80px;
      height: 80px;
    }
    h2 {
      text-transform: uppercase;
    }
  }
}
// Skill
#skill-section {
  //   background-image: url(../../src/img/img_06.jpg);
  //   background-size: cover;
  //   background-position: center top;
  //   background-repeat: no-repeat;
  background-color: #ffffffa8;
  //   background-blend-mode: overlay;
  //   padding: 3rem 0;
  color: #000;
  text-align: center;
  .row {
    width: 80%;
    margin: auto;
  }
  h3 {
    font-size: 1rem;
  }
  .little-border {
    height: 3px;
    width: 100px;
    margin: auto;
    background: #bfc9cf;
    margin-bottom: 1rem;
    box-shadow: 0 0 1px 0 gray;
  }
  //Animated Progress Bars
  svg.radial-progress {
    height: auto;
    max-width: 200px;
    padding: 1em;
    transform: rotate(-90deg);
    width: 100%;
  }

  svg.web-design circle {
    fill: rgb(255, 255, 255);
    font-size: 1.2rem;
    stroke: #30bae7;
    stroke-dashoffset: 219.91148575129;
    stroke-width: 5;
  }
  svg.html-css circle {
    fill: rgb(255, 255, 255);
    font-size: 1.2rem;
    stroke: #d74680;
    stroke-dashoffset: 219.91148575129;
    stroke-width: 5;
  }
  svg.graphic-design circle {
    fill: rgb(255, 255, 255);
    font-size: 1.2rem;
    stroke: #15c7a8;
    stroke-dashoffset: 219.91148575129;
    stroke-width: 5;
  }
  svg.ui-design circle {
    fill: rgb(255, 255, 255);
    font-size: 1.2rem;
    stroke: #7b2886;
    stroke-dashoffset: 219.91148575129;
    stroke-width: 5;
  }
  svg.radial-progresscircle {
    stroke: #5065aa;
  }
  svg.radial-progress circle.incomplete {
    opacity: 0.25;
  }
  svg.radial-progress circle.complete {
    stroke-dasharray: 219.91148575129;
  }
  svg.radial-progress text {
    fill: rgb(90, 71, 71);
    text-anchor: middle;
  }
}
//Animated Progress Bars

//Portfolio
#portfolio-section {
  //   background-image: url(../../src/img/img_02.jpg);
  //   background-position: center top;
  //   background-attachment: fixed;
  //   background-blend-mode: overlay;
  //   background-size: cover;
  //   background-repeat: no-repeat;
  background-color: #ffdd99;
  color: #3c5499;
  text-align: center;
  h4 {
    margin: 1rem;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 400;
  }
  .little-border {
    height: 3px;
    width: 100px;
    margin: auto;
    background: #e6c688;
    margin-bottom: 1rem;
    box-shadow: 0 0 1px 0 gray;
  }
  .portfolio-filter {
    width: 100%;
    height: auto;
    margin: auto;
    display: block;
    padding-left: 0;
    align-items: center;
    justify-items: center;
  }
  .btn {
    background-color: #17c2a4;
  }
  .button {
    display: inline-block;
    cursor: pointer;
    width: auto;
    height: auto;
    padding: 0.1rem 0.6rem;
    border: none;
    border-radius: 3px;
    background: #e6c688;
    transition: 0.3s;
  }
  .button:focus {
    outline-style: none;
    background: #fdfdfd;
  }
  ul .button:hover {
    background: #a18959;
  }
  .btn-hero {
    padding: 0.5rem;
    background-color: #17c2a4;
    color: #ffffff;
    border: 2px solid #16b99b;
  }
  .row {
    width: 80%;
    margin: auto;
  }
  @media only screen and(max-width:574px) {
    .portfolio-filter {
      width: 100%;
      height: auto;
      margin: auto;
      display: flex;
      flex-direction: row;
      padding: 0.5rem 1rem;
      align-items: center;
      justify-items: center;
    }
    .button {
      font-size: 0.8rem;
      width: 24%;
      height: auto;
      display: inline-block;
      margin: 0 0.1rem;
    }
  }
}
// Testimonial
#testimonial-section {
  background-color: #d74680;
  text-align: center;

  .little-border {
    height: 3px;
    width: 100px;
    margin: auto;
    background: #d74680;
    margin-bottom: 1rem;
    box-shadow: 0 0 15px 0 rgba(128, 128, 128, 0.534);
  }
  .swiper-slide {
    img {
      width: 100px;
      height: 100px;
    }
  }
}
// Contact
#contact-section {
  background-color: #3c5499;
  text-align: center;
  .little-border {
    height: 3px;
    width: 100px;
    margin: auto;
    background: #3c5499;
    margin-bottom: 1rem;
    box-shadow: 0 0 15px 0 rgba(128, 128, 128, 0.534);
  }
  form {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    input,
    textarea {
      font-size: 1rem;
      color: #ffff;
      padding: 0.5rem 2rem;
      width: 100%;
      height: auto;
      border: none;
      border-radius: 5px;
      background-color: #273766;
      transition: all 0.3s ease-in-out;

      &:hover {
        box-shadow: 0 0 10px rgba(39, 55, 102, 0.85);
      }
      &:focus,
      &:active {
        outline: none;
        box-shadow: none;
      }
    }
    .send {
      color: #ffff;
      background-color: #30bae7;
      padding: 0.5rem 2rem;
      width: 40%;
      margin: auto;
      margin-top: 1rem;
      box-shadow: 0 0 10px #299ec5;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: rebeccapurple;
        box-shadow: 0 0 10px rebeccapurple;
      }
    }
  }
}
// Footer
#footer-section {
  padding: 1rem 0;
  text-align: center;
  background-color: #273766;
  ul {
    width: 100%;
    height: auto;
    margin: auto;
    justify-items: space-around;
    text-align: center;
  }
  ul li {
    display: inline-block;
    list-style: none;
    // float: left;
    margin: 0.5rem;
  }
  ul li a {
    text-decoration: none;
    color: #ffff;
    display: block;
    transition: all 0.3s ease-in-out;

    &:hover {
      text-decoration: underline;
    }
  }
  ul li a:focus {
    color: #299ec5;
  }
  p {
    padding: 0;
    margin: 0;
  }
  .lead a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.541);
    font-family: cursive;
    font-weight: 600;
  }
  .copy {
    margin-top: 0.5rem;
    font-size: 1.4rem;
  }
}
