@import '/dist/style.css';

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap');

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    color: white;
    font-family:tahoma;
    font-family: "Titillium Web", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow-x: hidden;
}
ul{
    padding-left: 0;
}
.container{
    max-width: 1024px;
    height: auto;
    padding: 0 2rem;
    margin: auto;
}
section{
    width: 100%;
    height: auto;
    margin: auto;
}
#header{
    width: 100%;
    height: auto;
    margin: auto;
    z-index: 9999;  
    transition: all .3s ease-in-out;
    position: relative;

    #nav{
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: 1440px;
        height: auto;
        padding: .5rem .7rem;
        background: #b667d3;
        .navbar-nav{
            margin-left: auto;
            align-items: center;
            transition: all 1s ease-in-out;
        }
        .nav-item{
            padding: .1rem .2rem;
            margin-right: .1rem;
            transition: .3s ease-in-out;
            border-radius: 2px;

            &:hover{
                background-color: rebeccapurple;
            }
            &.current{
                background-color: rebeccapurple;
            }
        }
        .nav-link{
            cursor: pointer;
            font-size: .9rem;
            font-weight: 500;
            color: #fdfdfd;
            padding-top: 0;
            padding-bottom: 0;
            text-transform: uppercase;
        }
    }
    &.active{
        background: #b667d3;
    }
    &.open #nav{
        background-color: #b667d3;
    }

    @media (max-width: 767px){
        .container{
            padding: 0 1rem;
        }
    }
}
// Hero
#hero{
    min-height: 100vh;
    background-color: #87509c;
    background-image: url(../../src/img/img_01.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .lead{
        font-size: 1.6rem;
    }
    .btn{
        color: white;
        background: #EB7D4B;
        padding: 15px 60px;
        font-size: 0.9rem;
    }
}
// Services
#services-section{
    // background-color: #87509c;
    background-image: url(../../src/img/img_04.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #17C2A4;
    .img-fluid{
        width: auto;
        height: auto;
    }
    .little-border{
        height: 3px;
        box-shadow: 0 0 1px 0 gray;
        width: 100px;
        margin: auto;
        background: #18b99c;
        margin-bottom: 1rem;
    }
    h4{
        font-size: 2.5rem;
        margin: .7rem;
    }
    .lead{
        font-size: 1rem;
        text-align: justify-center;
    }
}
// Teams
#team-section{
    background-position: center top;
    background-color:#afc3d1;
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: rgb(0, 0, 0) !important;
    .row{
        width: 80%;
        margin: auto;
    }
    .little-border{
        height: 3px;
        width: 100px;
        margin: auto;
        background: #99acb9;
        margin-bottom: 1rem;
        box-shadow: 0 0 1px 0 gray;
    }
    .img-fluid{
        width: 100px;
        height: 100px;
        border-radius: 100%;
    }
    .lead{
        font-size: .8rem;
        margin-bottom: .6rem;
    }
    h2{
        text-transform: uppercase;
        font-size: 1.05rem;
        font-weight: 600;
        text-align: center;
    }
    h6{
        color: rgb(99, 152, 221);
        font-size: 0.95rem;
        font-weight: 540;
        margin-bottom: 1.5rem;
        text-align: center;
    }
    .icons-hero{
        margin: auto;
        li{
        display: inline-block;
        list-style: none;
        text-decoration: none;
        margin: 1px;
        padding: 0;
        }
        a{
        width: 1.8rem;
        height: 1.8rem;
        display: inline-block;
        font-size: 1rem;
        color: #8b8f92;
        transition: .5s;
        }
    }
    li a:hover{
        transform: rotate(360deg);
        background: rgb(168, 163, 163);
        border-radius: 100%;
        // background: #000;
    }
    @media(max-width:950px){
        .row{
            width: 98%;
        }
    }
    @media(max-width:767px){
        .col-md-3{
            margin-bottom: 1rem;
            width: 50%;
            height: auto;
            text-align: center;
            // margin: auto;
            border: 1px solid rgb(255, 255, 255);
            padding: .5rem;
        }
    }
    @media(max-width:575px){
        .col-md-3{
            width: 80%;
            height: auto;
            text-align: center;
            margin: auto;
            margin-top: 1rem;
        }
    }
}
// Skill
#skill-section{
    background-image: url(../../src/img/img_06.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-color: #ffffffa8;
    background-blend-mode: overlay;
    padding: 3rem 0;
    color: #000;
    text-align: center;
    .row{
        width: 80%;
        margin: auto;
    }
    h3{
        font-size: 1rem;
    }
    .little-border{
        height: 3px;
        width: 100px;
        margin: auto;
        background: #bfc9cf;
        margin-bottom: 1rem;
        box-shadow: 0 0 1px 0 gray;
    }
//Animated Progress Bars
svg.radial-progress {
        height:auto;
        max-width:200px;
        padding:1em;
        transform: rotate(-90deg);
        width:100%;
      }
       
  svg.web-design circle {
      fill: rgb(255, 255, 255);
      font-size: 1.2rem;
      stroke:#30BAE7;
      stroke-dashoffset:219.91148575129;
      stroke-width:5;
  }
  svg.html-css circle {
      fill: rgb(255, 255, 255);
      font-size: 1.2rem;
      stroke:#D74680;
      stroke-dashoffset:219.91148575129;
      stroke-width:5;
  }
  svg.graphic-design circle {
      fill: rgb(255, 255, 255);
      font-size: 1.2rem;
      stroke:#15C7A8;
      stroke-dashoffset:219.91148575129;
      stroke-width:5;
  }
  svg.ui-design circle {
      fill: rgb(255, 255, 255);
      font-size: 1.2rem;
      stroke:#7b2886;
      stroke-dashoffset:219.91148575129;
      stroke-width:5;
  }
   svg.radial-progresscircle { stroke:#5065aa; }  
  svg.radial-progress circle.incomplete { opacity:0.25; }    
  svg.radial-progress circle.complete { stroke-dasharray:219.91148575129; }     
  svg.radial-progress text {
      fill:rgb(90, 71, 71);
      text-anchor:middle;
  }
}
//Animated Progress Bars

//Portfolio
#portfolio-section{
    background-image: url(../../src/img/img_02.jpg);
    background-position: center top;
    background-attachment: fixed;
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
    background-color:  #ffdd99;
    color: #3C5499;
    text-align: center;
    h4{
        margin: 1rem;
        font-size: .9rem;
        text-transform: uppercase;
        font-weight: 400;
    }
    .little-border{
        height: 3px;
        width: 100px;
        margin: auto;
        background: #e6c688;
        margin-bottom: 1rem;
        box-shadow: 0 0 1px 0 gray;
    }
    .portfolio-filter{
        width: 100%;
        height: auto;
        margin: auto;
        display: block;
        padding-left: 0;
        align-items: center;
        justify-items: center;
    }
    .button{
        display: inline-block;
        cursor: pointer;
        width: auto;
        height: auto;
        padding: .1rem .6rem;
        border: none;
        border-radius: 3px;
        background: #e6c688;
        transition: .3s;
    }
    .button:focus{
        outline-style: none;
        background: #fdfdfd;
    }
    ul .button:hover{
        background: #a18959;
    }
    .btn-hero{
        padding: .5rem;
        background-color: #17C2A4;
        color: #ffffff;
        border: 2px solid #16b99b;
    }
    .row{
        width: 80%;
        margin: auto;
    }
    @media only screen and(max-width:574px){
        .portfolio-filter{
            width: 100%;
            height: auto;
            margin: auto;
            display: flex;
            flex-direction: row;
            padding: .5rem 1rem;
            align-items: center;
            justify-items: center;
        }
        .button{
            font-size: .8rem;
            width: 24%;
            height: auto;
            display: inline-block;
            margin: 0 .1rem;
        }
    }
}
// Testimonial
#testimonial-section{
    background-color: #D74680;
    text-align: center;
    h4{
        font-size: 1.8rem;
        font-weight: 550;
        text-transform: uppercase;
        margin-bottom: .5rem;
    }
    h4::after{
        content: "";
        height: 3px;
        width: 100px;
        display: block;
        margin: auto;
        background-color: #bb4071;
        margin-bottom: .5rem;
    }
    .lead{
        font-size: .6rem;
    }
    .col-md-6{
        img{
         width: 90px;
         height: 90px;
         border-radius: 50%;    
        }
        .description{
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: row;
            .image{
                width: 30%;
                height: auto;
                display: block;
                float: left;
                overflow: hidden;
            }
            .message{
                width: 60%;
                height: auto;
                display: block;
                padding: .6rem;
                text-align: left;
                justify-items: right;
                box-sizing: border-box;
                h5{
                    font-size: 1.1rem;
                    text-transform: uppercase;
                }
                h6{
                    font-size: 1rem;
                    color: #EB7D4B;
                }
                .lead1{
                    font-size: .8rem;
                    font-weight:400;
                    padding: 0;
                }
            }  
        }
    }   
}
// Contact
#contact-section{
    background-color: #3C5499;
    text-align: center;
    h4{
        font-size: 1.8rem;
        font-weight: 550;
        text-transform: uppercase;
        margin-bottom: .5rem;
    }
    h4::after{
        content: "";
        height: 3px;
        width: 100px;
        display: block;
        margin: auto;
        background-color: #3C5499;
        margin-bottom: .5rem;
    }
    .lead{
        font-size: .8rem;
    }
    .container{
        width: 90%;
        margin: auto;
        box-sizing: border-box;
    }
    input{
        font-size: 1rem;
        color: #ffff;
        padding: .5rem 2rem;
        margin: 2rem 0;
        width: 100%;
        height: auto;
        border: none;
        border-radius: 5px;
        background-color: #273766;
        transition: all .3s ease-in-out;

        &:hover{
            box-shadow: 0 0 10px rgba(39, 55, 102,.85);
        }
    }
    textarea{
        color: #ffff;
        padding:.5rem  2rem;
        width: 100%;
        height: auto;
        border: none;
        border-radius: 5px;
        background-color: #273766;
        transition: all .3s ease-in-out;

        &:hover{
            box-shadow: 0 0 10px rgba(39, 55, 102,.85);
        }
        resize: none;
    }
    .send{
        color: #ffff;
        background-color: #30BAE7;
        padding: .5rem 2rem;
        width: 40%;
        margin: auto;
        margin-top: 2rem;
        box-shadow: 0 0 10px #299ec5;
        transition: all .3s ease-in-out;

        &:hover{
            background-color: rebeccapurple;
            box-shadow: 0 0 10px rebeccapurple;
        }
    }
    input:focus{
        outline: none;
    }
    textarea:focus{
        outline: none;
    }
    input::placeholder{
        color: white;
    }
    textarea::placeholder{
        color: white;
    }
    @media only screen and (max-width:767px){
        .container{
            width: 100%;
            box-sizing: border-box;
            input{
                margin: .2rem 0;
                width: 100%;
                height: auto;
            }
            input:last-child(){
                margin-bottom: .3rem;
            }
            .send{
                width: 95%;
                margin: auto;
            }
        } 
    }
}
// Footer
#footer-section{
    padding: 1rem 0;
    text-align: center;
    background-color:  #273766;
    ul{
        width: 100%;
        height: auto;
        margin: auto;
        justify-items: space-around;
        text-align: center;
    }
    ul li{
        display: inline-block;
        list-style: none;
        // float: left;
        margin: .5rem;
    }
    ul li a{
        text-decoration: none;
        color: #ffff;
        display: block;
        transition: all .3s ease-in-out;

        &:hover{
            text-decoration: underline;
        }
    }
    ul li a:focus{
        color: #299ec5;
    }
    p{
        padding: 0;
        margin: 0;
    }
    .lead a{
        text-decoration: none;
        color: rgba(128, 0, 128, 0.541);
        font-family: cursive;
        font-weight: 600;
    }
    .copy{
        margin-top: .5rem;
        font-size: 1.4rem;
    }
}